<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:;" class="simple-text">
                Your Logo
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin">
                    <i class="nc-icon nc-icon nc-single-02"></i>
                    <p>User Management</p>
                </a>
            </li>
            <li>
            <li class="nav-item active">
                <a class="nav-link" href="/news">
                    <i class="nc-icon nc-icon nc-paper-2"></i>
                    <p>News Management</p>
                </a>
            </li>
            </li>
        </ul>
    </div>
</div>